*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  min-height: 100vh;
}

.Paper:not(:last-child){
  margin-bottom: 2rem;
}

.Chart{
  padding: 1rem;
}
